/* General Page Styling */
body, html {
  color: #666;
  background-color: #b6f8ef;
}

/* Navigation Bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  display: inline;
  color: #1affa3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #111;
}

/* Section Styling */
.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

/* Ping Elements */
.ping1, .ping2, .ping3 {
  position: relative;
  opacity: 0.9;
  background-repeat: no-repeat;
}
